# Dependencias
node_modules

# Archivo de variables de entorno (contiene secretos)
.env

# Archivos de construcción
dist

# Logs
logs
*.log
npm-debug.log*

# Editores
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.sw?
